html
    head
        title #{title}
    body
        div(style='text-align:center;')
            h2 #{title}
            div Цена: #{price} грн
            div
                img(src=images, title=images)
            p #{description}
